table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  background-color: #e3e5f7;
  font-weight: bold;
  padding: 1.2rem;
  text-align: left;
  border-bottom: 2px solid var(--blue-grey);
  cursor: pointer;
}

table td {
  padding: 1.2rem;
  border-bottom: 1px solid var(--light-grey);
}

table tbody tr:nth-child(even) {
  background-color: var(--lightest-grey);
}

@media screen and (min-width: 768px) {
  table td,
  table th {
    padding: 2rem;
  }
}
